<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post - Pintereso Bootstrap Template</title>
    <script type="text/javascript">
        (function() {
            var css = document.createElement('link');
            css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../assets/css/theme.css">

</head>

<body>
    <%- include('../header.ejs') %>

        <section class="mt-4 mb-5">
            <div class="container mb-5">

                <h1 class="title  font-weight-bolder text-primary">
                    Sign up
                </h1>
            </div>
        </section>
        <br>
        <br>


        <main role="main">



            <section class="bg-gray200 pt-5 pb-5 mb-10">

                <div class="container p-6">
                    <form action="/user/signup" method="post" class="bd-search hidden-sm-down small">
                        <input type="text" class="form-control bg-graylight border-0 font-weight-bold" id="name" name="name" placeholder="Name" autocomplete="off">
                        <br>
                        <input type="email" class="form-control bg-graylight border-0 font-weight-bold" id="email" name="email" placeholder="Email" autocomplete="off">
                        <br>
                        <input type="password" class="form-control bg-graylight border-0 font-weight-bold" id="password" name="password" placeholder="Password" autocomplete="off">
                        <br>
                        <input type="password" class="form-control bg-graylight border-0 font-weight-bold" id="password2" name="password2" placeholder="Confirm Password" autocomplete="off">
                        <br>
                        <br>
                        <button class="btn-indigo btn" type="submit"> Sign up </button>


                    </form>

                </div>


                </div>
            </section>

        </main>



        <!--<script src="assets/js/app.js"></script>
        <script src="assets/js/theme.js"></script>-->

        <footer class="footer pt-5 pb-5 text-center">

            <div class="container">



                <!--
              All the links in the footer should remain intact.
              You may remove the links only if you donate:
              https://www.wowthemes.net/freebies-license/
            -->
                <p>© <span class="credits font-weight-bold">        
            <a target="_blank" class="text-dark" href="https://www.wowthemes.net/pintereso-free-html-bootstrap-template/"><u>Pintereso Bootstrap HTML Template</u> by WowThemes.net.</a>
          </span>
                </p>


            </div>

        </footer>
</body>

</html>